<header class="bg-blue-900">

  <div class="sm:flex sm:justify-between sm:items-center sm:px-4 md:px-8 sm:py-3 max-w-5xl mx-auto">

    <div class="flex items-center justify-between px-4 py-3 sm:p-0">

      <img class="h-10 pl-1" src="images/bus.svg" alt="bindle logo">

      <div class="sm:hidden">
        <button id="menu-toggle" type="button"
          class="block text-blue-200 focus:outline-none focus:text-white hover:text-white">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path class="toggle-button" fill-rule="evenodd"
              d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
            <path class="toggle-button hidden" fill-rule="evenodd"
              d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" />
          </svg>
        </button>
      </div>

    </div>

    <div id="menu" class="hidden p-2 sm:flex sm:p-0">
      <a href="#" class="block text-blue-100 font-semibold rounded px-2 py-1 hover:bg-blue-800 hover:text-white">
        Features
      </a>
      <a href="#"
        class="mt-1 block text-blue-100 font-semibold rounded px-2 py-1 hover:bg-blue-800 hover:text-white sm:mt-0 sm:ml-2">
        Pricing
      </a>
      <a href="#"
        class="mt-1 block text-blue-100 font-semibold rounded px-2 py-1 hover:bg-blue-800 hover:text-white sm:mt-0 sm:ml-2">
        Login
      </a>
      <a href="#"
        class="mt-1 sm:mt-0 sm:ml-2
        inline-block px-2 py-1 rounded shadow-md bg-green-500 text-md text-white hover:bg-green-600 hover:text-green-100  font-semibold mb-1">
        Free Trial
      </a>
    </div>
  </div>
</header>
