---
---

{% include header.html %}

<body class="font-sans text-gray-700">
  <main>
    <section id="debug" class="bg-gray-200">
      <div class="text-center text-xs p-1 text-gray-600">
        <span class="xs:block sm:hidden">XS</span>
        <span class="hidden sm:block md:hidden">SM</span>
        <span class="hidden md:block lg:hidden">MD</span>
        <span class="hidden lg:block xl:hidden">LG</span>
        <span class="hidden xl:block">XL</span>
      </div>
    </section>

    {{ content }}

  </main>

  {% include footer.html %}

</body>
